{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],

    "stage-2"
  ],
  "plugins": [["import",{
    "libraryDirectory": "src/pages",
    "libraryName":"vant",
    "style":true
  }],"transform-vue-jsx", "transform-runtime"]
}

